joblib==1.1.1
JPype1==1.2.1
pandas==1.1.5
python-dateutil==2.8.2
pytorch-crf==0.7.2
pytorch-pretrained-bert==0.6.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
torch==1.9.0
transformers==4.25.1
zipp==3.6.0
kss==6.0.4
python-mecab-ko==1.3.5
python-mecab-ko-dic==2.1.1.post2

# Belows are for the deployment.

fastapi==0.111.1
uvicorn==0.30.3
google-cloud-storage==2.18.0
google-cloud-pubsub==2.23.0